<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Alazea - Gardening &amp; Landscaping HTML Template</title>

    <!-- Favicon -->
    <link rel="icon" href="static/img/core-img/favicon.ico">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="static/css/style.css">

    <style>
        .cook img{
            width: 100%; /* 이미지가 셀 내에 꽉 차게 표시되도록 설정 */
            height: 400px;
            overflow: hidden;
        }
        .temp {
            width:100%;
        }
        .temp th, td{
            width:16.6%;
        }
        .date {
            width:100%;
        }
        .date td{
            height:50px;
            font-size:16px;

        }
        .ex-img {
            border: none;
            width:800px;
            height: 300px;
        }
        .ex-img td{
            padding: 0px
            width: 33.33%;
        }
        .ex-img img{
            width:100%
        }
        .check_btn {
          color: #198754;
          border-color: #198754;
          font-size:18px;
          text-decoration:none;
          border-radius: 5px;
          padding: 10px 20px;
          cursor: pointer;
        }
        .check_btn:hover{
          color: #fff;
          border-color: #198754;
          background-color: #198754;
        }

    </style>
    <script>
      function previewImage(event) {
        var input = event.target;
        var preview = document.getElementById('preview');

        var reader = new FileReader();

        reader.onload = function () {
          preview.src = reader.result;
        };

        reader.readAsDataURL(input.files[0]);
      }
    </script>
</head>

<body>
    <!-- Preloader -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-circle"></div>
        <div class="preloader-img">
            <img src="static/img/core-img/leaf.png" alt="">
        </div>
    </div>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area">

        <!-- ***** Top Header Area ***** -->
        <div class="top-header-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="top-header-content d-flex align-items-center justify-content-between">
                            <!-- Top Header Content -->
                            <div class="top-header-meta">
                                <a href="#" data-toggle="tooltip" data-placement="bottom" title="infodeercreative@gmail.com"><i class="fa fa-envelope-o" aria-hidden="true"></i> <span>Email: plantabc123@gmail.com</span></a>
                                <a href="#" data-toggle="tooltip" data-placement="bottom" title="+1 234 122 122"><i class="fa fa-phone" aria-hidden="true"></i> <span>Call: 02-1234-5678</span></a>
                            </div>

                            <!-- Top Header Content -->
                            <div class="top-header-meta d-flex">
                                {% if request.session.sessionid != None %}
                                <!-- Mypage -->
                                <div class="login">
                                    <a href="{% url 'mypage' %}?id={{request.session.sessionid}}"><i class="fa fa-user-circle-o" aria-hidden="true"></i><span>Mypage</span></a>
                                </div>
                                <!-- Logout -->
                                <div class="cart">
                                    <a href="{% url 'logout' %}"><i class="fa fa-outdent" aria-hidden="true"></i><span>Logout</span></a>
                                </div>
                                {% else %}
                                <!-- Login -->
                                <div class="login">
                                    <a href="{% url 'login' %}"><i class="fa fa-user-circle-o" aria-hidden="true"></i><span>Login</span></a>
                                </div>
                                <!-- Sign up -->
                                <div class="cart">
                                    <a href="{% url 'register' %}"><i class="fa fa-user-o" aria-hidden="true"></i><span>Sign up</span></a>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- ***** Navbar Area ***** -->
        <div class="alazea-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="alazeaNav">

                        <!-- Nav Brand -->
                        <a href="/" class="nav-brand"><img src="/static/img/core-img/logo.png" alt=""></a>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- Close Button -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Navbar Start -->
                            <div class="classynav">
                                <ul>
                                    <li><a href="/">Home</a></li>
                                    <li><a href="{% url 'about' %}">About</a></li>
                                    <li><a href="{% url 'category' %}">Category</a>
                                        <ul class="dropdown">
                                            <li><a href="{% url 'cabbage' %}">양배추</a>
                                                <ul class="dropdown">
                                                    <li><a href="{% url 'cabbage' %}#efficacy">효능</a></li>
                                                    <li><a href="{% url 'cabbage' %}#cultivation">재배 방법</a></li>
                                                    <li><a href="{% url 'cabbage' %}#diagnosis">질병 진단</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="{% url 'tomato' %}">토마토</a>
                                                <ul class="dropdown">
                                                    <li><a href="{% url 'tomato' %}#efficacy">효능</a></li>
                                                    <li><a href="{% url 'tomato' %}#cultivation">재배 방법</a></li>
                                                    <li><a href="{% url 'tomato' %}#diagnosis">질병 진단</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="{% url 'cucumber' %}">오이</a>
                                                <ul class="dropdown">
                                                    <li><a href="{% url 'cucumber' %}#efficacy">효능</a></li>
                                                    <li><a href="{% url 'cucumber' %}#cultivation">재배 방법</a></li>
                                                    <li><a href="{% url 'cucumber' %}#diagnosis">질병 진단</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="{% url 'pumpkin' %}">호박</a>
                                                <ul class="dropdown">
                                                    <li><a href="{% url 'pumpkin' %}#efficacy">효능</a></li>
                                                    <li><a href="{% url 'pumpkin' %}#cultivation">재배 방법</a></li>
                                                    <li><a href="{% url 'pumpkin' %}#diagnosis">질병 진단</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="{% url 'youngpumpkin' %}">애호박</a>
                                                <ul class="dropdown">
                                                    <li><a href="{% url 'youngpumpkin' %}#efficacy">효능</a></li>
                                                    <li><a href="{% url 'youngpumpkin' %}#cultivation">재배 방법</a></li>
                                                    <li><a href="{% url 'youngpumpkin' %}#diagnosis">질병 진단</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="{% url 'kimchi' %}">배추</a>
                                                <ul class="dropdown">
                                                    <li><a href="{% url 'kimchi' %}#efficacy">효능</a></li>
                                                    <li><a href="{% url 'kimchi' %}#cultivation">재배 방법</a></li>
                                                    <li><a href="{% url 'kimchi' %}#diagnosis">질병 진단</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="{% url 'pepper' %}">고추</a>
                                                <ul class="dropdown">
                                                    <li><a href="{% url 'pepper' %}#efficacy">효능</a></li>
                                                    <li><a href="{% url 'kimchi' %}#cultivation">재배 방법</a></li>
                                                    <li><a href="{% url 'pepper' %}#diagnosis">질병 진단</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="{% url 'radish' %}">무</a>
                                                <ul class="dropdown">
                                                    <li><a href="{% url 'radish' %}#efficacy">효능</a></li>
                                                    <li><a href="{% url 'radish' %}#cultivation">재배 방법</a></li>
                                                    <li><a href="{% url 'radish' %}#diagnosis">질병 진단</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="{% url 'greenonion' %}">파</a>
                                                <ul class="dropdown">
                                                    <li><a href="{% url 'greenonion' %}#efficacy">효능</a></li>
                                                    <li><a href="{% url 'greenonion' %}#cultivation">재배 방법</a></li>
                                                    <li><a href="{% url 'greenonion' %}#diagnosis">질병 진단</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="{% url 'bean' %}">콩</a>
                                                <ul class="dropdown">
                                                    <li><a href="{% url 'bean' %}#efficacy">효능</a></li>
                                                    <li><a href="{% url 'bean' %}#cultivation">재배 방법</a></li>
                                                    <li><a href="{% url 'bean' %}#diagnosis">질병 진단</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a href="{% url 'contact' %}">Contact</a></li>
                                    {% if request.session.sessionid != None %}
                                    <li><a href="{% url 'mypage' %}?id={{request.session.sessionid}}">Mypage</a></li>
                                    {% else %}
                                    <li><a href="{% url 'login' %}">Login</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                            <!-- Navbar End -->
                        </div>
                    </nav>

                    <!-- Search Form -->
                    <div class="search-form">
                        <form action="#" method="get">
                            <input type="search" name="search" id="search" placeholder="Type keywords &amp; press enter...">
                            <button type="submit" class="d-none"></button>
                        </form>
                        <!-- Close Icon -->
                        <div class="closeIcon"><i class="fa fa-times" aria-hidden="true"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Breadcrumb Area Start ##### -->
    <div class="breadcrumb-area">
        <!-- Top Breadcrumb Area -->
        <div class="top-breadcrumb-area bg-img bg-overlay d-flex align-items-center justify-content-center" style="background-image: url(static/img/cate-img/bean/bean_main.jpg);">
            <h2>Bean</h2>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/"><i class="fa fa-home"></i> Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Bean</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Breadcrumb Area End ##### -->

    <!-- ##### 콩 활용 / 효능 start ##### -->
    <section id="efficacy" class="about-us-area">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-12">
                    <!-- Section Heading -->
                    <div class="section-heading">
                        <h2>콩</h2>
                        <p>Bean</p>
                        <p>최고의 식물성 단백질</p>
                    </div>

                    <!-- Cabbage Efficacy -->
                    <h4>효능</h4>
                    <div class="alazea-benefits-area">
                        <div class="row">
                            <!-- Single Benefits Area -->
                            <div class="col-12 col-sm-3">
                                <div class="single-benefits-area">
                                    <img src="static/img/cate-img/bean/muscle.png" alt="">
                                    <h5>근육 생성</h5>
                                    <p>콩에 들어 있는 단백질의 양은 농작물 중에서 최고이며 구성 아미노산의 종류도 육류에 비해 손색이 없어 근육 생성에 탁월하다.</p>
                                </div>
                            </div>

                            <!-- Single Benefits Area -->
                            <div class="col-12 col-sm-3">
                                <div class="single-benefits-area">
                                    <img src="static/img/core-img/b2.png" alt="">
                                    <h5>항암 효능</h5>
                                    <p>콩 중에서도 특히 검은콩의 껍질에는 글리시테인이라는 항암물질이 들어있다.</p>
                                </div>
                            </div>

                            <!-- Single Benefits Area -->
                            <div class="col-12 col-sm-3">
                                <div class="single-benefits-area">
                                    <img src="static/img/cate-img/cabbage/brain1.png" alt="">
                                    <h5>치매 예방</h5>
                                    <p>콩의 레시틴은 신경전달물질의 원료로 기억력을 증진시켜 알츠하이머성 치매 예방에 효과가 있다.</p>
                                </div>
                            </div>

                            <!-- Single Benefits Area -->
                            <div class="col-12 col-sm-3">
                                <div class="single-benefits-area">
                                    <img src="static/img/cate-img/cabbage/bones.png" alt="">
                                    <h5>뼈 건강 증진</h5>
                                    <p>콩에 들어 있는 아이소플라본이 뼈의 파괴를 막고 골밀도를 높이는 작용을 해 골다공증 예방에 효과적</p>
                                </div>
                            </div>
                            <!-- Single Benefits Area -->
                            <div class="col-12 col-sm-3">
                                <div class="single-benefits-area">
                                    <img src="static/img/cate-img/bean/medicine.png" alt="">
                                    <h5>한약재</h5>
                                    <p>쥐눈이콩은 신장병을 다스리며 기를 내리어 풍열을 억제하고 혈액 순환을 활발히 하며 독을 푼다.</p>
                                </div>
                            </div>

                            <!-- Single Benefits Area -->
                            <div class="col-12 col-sm-3">
                                <div class="single-benefits-area">
                                    <img src="static/img/cate-img/bean/mental-health.png" alt="">
                                    <h5>우울증 예방</h5>
                                    <p>비타민 B군 함량이 높아 중추 신경계를 조절하고 스트레스나 불안 및 우울증 예방에 도움이 된다.</p>
                                </div>
                            </div>

                            <!-- Single Benefits Area -->
                            <div class="col-12 col-sm-3">
                                <div class="single-benefits-area">
                                    <img src="static/img/cate-img/cabbage/weight-loss.png" alt="">
                                    <h5>다이어트</h5>
                                    <p>포만감이 높아 다이어트에 도움이 되며 사포닌 성분이 비만체질을 개선하는 효능이 있다.</p>
                                </div>
                            </div>

                            <!-- Single Benefits Area -->
                            <div class="col-12 col-sm-3">
                                <div class="single-benefits-area">
                                    <img src="static/img/cate-img/cabbage/blood-drop.png" alt="">
                                    <h5>혈관 보호</h5>
                                    <p>동맥경화를 예방하는 고밀도지방단백질(HDL) 콜레스테롤을 높인다.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Cabbage Cook -->
                    <br>
                    <h4>활용</h4>
                    <div class="cook">
                        <div class="row">
                            <div class="col-12 col-sm-4">
                                <p><b>두부</b></p>
                                <img src="static/img/cate-img/bean/dooboo.jpg">
                            </div>
                            <div class="col-12 col-sm-4">
                                <p><b>콩국수</b></p>
                                <img src="static/img/cate-img/bean/beannoodle.jpg">
                            </div>
                            <div class="col-12 col-sm-4">
                                <p><b>두유</b></p>
                                <img src="static/img/cate-img/bean/dooyou.jpg">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="border-line"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### 콩 활용 / 효능 End ##### -->

    <!-- ##### 콩 재배방법 Start ##### -->
    <section id="cultivation" class="our-services-area bg-gray section-padding-100-0">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-5">
                    <!-- Section Heading -->
                    <div class="section-heading text-left">
                        <h2>재배 방법</h2>
                    </div>
                </div>
            </div>

            <div class="row align-items-center justify-content-between">
                <div class="col-12 col-lg-5">
                    <div class="alazea-service-area mb-100">
                        <!-- 재배 특성 -->
                        <div class="cultivation-char">
                            <h4>특성</h4>
                            <p>콩 재배 시 가장 먼저 고려해야할 사항은 무엇보다 품종선택이다. 사용용도, 환경, 작부체계 등을 고려하여 가장 알맞은 품종을 골라 재배한다.</p>
                        </div>
                        <!-- 재배 관리 -->
                        <div class="cultivation-manage">
                            <br>
                            <h4>관리</h4>
                            <!-- 거름 주기 -->
                            <div class="single-service-area d-flex align-items-center">
                                <!-- Icon -->
                                <div class="service-icon mr-30">
                                    <img src="static/img/core-img/s1.png" alt="">
                                </div>
                                <!-- Content -->
                                <div class="service-content">
                                    <h5>거름주기</h5>
                                    <p>밑거름은 밭갈기 2주 전에 뿌려주고 웃거름은 만성종과 왜성종에 따라 차이가 있는데 만성종의 경우 꼬투리가 생길 무렵에, 왜성종은 추가 비료를 주지 않아도 괜찮다.</p>
                                </div>
                            </div>
                            <!-- 물 주기 -->
                            <div class="single-service-area d-flex align-items-center">
                                <!-- Icon -->
                                <div class="service-icon mr-30">
                                    <img src="static/img/core-img/s2.png" alt="">
                                </div>
                                <!-- Content -->
                                <div class="service-content">
                                    <h5>물주기</h5>
                                    <p>콩은 다른 작물에 비하여 많은 수분을 요구하는 작물에 속한다. 콩은 발아부터 개화까지 물 소비량이 계속 증가하고 개화기부터 성숙기까지 가장 많은 양을 소비한다.</p>
                                </div>
                            </div>

                            <!-- 수확시기 -->
                            <div class="single-service-area d-flex align-items-center">
                                <!-- Icon -->
                                <div class="service-icon mr-30">
                                    <img src="static/img/core-img/s3.png" alt="">
                                </div>
                                <!-- Content -->
                                <div class="service-content">
                                    <h5>수확시기</h5>
                                    <p>잎이 모두 떨어지고 줄기가 갈색으로 변했을 때 수확한다. 꼬투리 수분이 적당히 있을 때 베어내 2~3일 정도 햇빛에 말린 후 탈곡하는 것이 좋다.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-6">
                    <div class="alazea-service-area mb-100">
                        <!-- 재배 환경 -->
                        <div class="cutivaion-env">
                            <br>
                            <h4>환경</h4>
                            <br>
                            <h6><b>생육 온도</b></h6>
                            <table title="temp" class="temp">
                                <thead>
                                    <tr>
                                        <th>발아</th><th>꽃눈분화</th><th>개화</th><th>종자형성</th><th>성숙</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>20~22°C</td><td>21~23°C</td><td>22~25°C</td><td>21~23°C</td><td>19~20°C</td>
                                    </tr>
                                </tbody>

                            </table>
                            <br>
                            <h6><b>재배 적지</b></h6>
                            <p>토양산도는 pH 6.5~7.0 정도가 알맞고 토양층이 깊고 부식, 석회, 칼리의 함량이 높은 토양이 생육에 유리하다.</p>
                        </div>
                        <!-- 재배 작형 -->
                        <br>
                        <div class="cultivation-date">
                            <h4>시기</h4>
                            <p>과거에는 주로 봄 재배와 가을 재배 작형을 중심으로 재배되었으나 최근에는 육종 기술의 발달로 재배가 쉬워지고 작형이 다양하게 분화, 발달되었다.</p>
                            <table class="date">
                                <thead>
                                    <tr>
                                        <th>작형</th><th>파종기</th><th>중경 및 배토</th><th>수확기</th><th>재배지역</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><b>노지재배</b></td><td>5월상~중순</td><td>개화 15일 전</td><td>10월 중순</td><td>전국</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- 비디오 -->
                        <br>
                        <div class="alazea-video-area bg-overlay mb-100">
                            <img src="static/img/cate-img/bean/bean_video.PNG" alt="">
                            <a href="https://www.youtube.com/watch?v=IALfjVFKLes" class="video-icon">
                                <i class="fa fa-play" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### 콩 재배방법 End ##### -->

    <!-- ##### 콩 진단하기 Start ##### -->
    <section id="diagnosis" class="testimonial-area section-padding-100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Section Heading -->
                    <div class="section-heading">
                        <img src="static/img/core-img/b2.png" alt="">
                        <br>
                        <br>
                        <h5>진단할 작물의 사진을 업로드해주세요.</h5>
                        <div class="text-black fs-0.5px">예시:</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row alazea-portfolio">
                <div class="category">
                    <!-- 샘플 사진 -->
                    <div class="col-12 col-sm-6 col-lg-4 single_portfolio_item garden">
                        <!-- Portfolio Thumbnail -->
                        <div class="portfolio-thumbnail bg-img" style="background-image: url(static/ex-img/bean_ex1.jpg);"></div>
                        <!-- Portfolio Hover Text -->
                        <div class="portfolio-hover-overlay height-200px">
                            <a href="{% url 'bean/analysis' %}?example=ex1" class="d-flex align-items-center justify-content-center" title="Portfolio 2">
                                <div class="port-hover-text">
                                    <h3>샘플 결과 보기</h3>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4 single_portfolio_item garden">
                        <!-- Portfolio Thumbnail -->
                        <div class="portfolio-thumbnail bg-img" style="background-image: url(static/ex-img/bean_ex2.jpg);"></div>
                        <!-- Portfolio Hover Text -->
                        <div class="portfolio-hover-overlay">
                            <a href="{% url 'bean/analysis' %}?example=ex2" class="d-flex align-items-center justify-content-center" title="Portfolio 2">
                                <div class="port-hover-text">
                                    <h3>샘플 결과 보기</h3>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4 single_portfolio_item garden">
                        <!-- Portfolio Thumbnail -->
                        <div class="portfolio-thumbnail bg-img" style="background-image: url(static/ex-img/bean_ex3.jpg);"></div>
                        <!-- Portfolio Hover Text -->
                        <div class="portfolio-hover-overlay">
                            <a href="{% url 'bean/analysis' %}?example=ex3" class="d-flex align-items-center justify-content-center" title="Portfolio 2">
                                <div class="port-hover-text">
                                    <h3>샘플 결과 보기</h3>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <br>
                    <form action="bean/analysis" method="post" enctype="multipart/form-data">
                      {% csrf_token %}
                      <div class="form-group">
                        <label for="img"></label>
                        <input type="file" class="form-control" id="img" name="img" onchange="previewImage(event)">
                        <br>
                        <img id="preview" src="#" style="max-width: 400px; max-height: 400px;">
                      </div>
                      <button type="submit" class="check_btn">진단하기</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### 콩 진단하기 End ##### -->

    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area bg-img" style="background-image: url(static/img/bg-img/3.jpg);">
        <!-- Main Footer Area -->
        <div class="main-footer-area">
            <div class="container">
                <div class="row">

                    <!-- Single Footer Widget -->
                    <div class="col-12 col-sm-6 col-lg-6">
                        <div class="single-footer-widget">
                            <div class="widget-title">
                                <h5>QUICK LINK</h5>
                            </div>
                            <nav class="widget-nav">
                                <ul>
                                    <li><a href="/">Home</a></li>
                                    <li><a href="{% url 'about' %}">About</a></li>
                                    <li><a href="{% url 'category' %}">Category</a></li>
                                    <li><a href="{% url 'contact' %}">Contact</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>

                    <!-- Single Footer Widget -->
                    <div class="col-12 col-sm-6 col-lg-6">
                        <div class="single-footer-widget">
                            <div class="widget-title">
                                <h5>CONTACT</h5>
                            </div>

                            <div class="contact-information">
                                <p><span>Address:</span> 서울 금천구 디지털로9길 99 스타밸리 209호</p>
                                <p><span>Phone:</span> 02-1234-5678</p>
                                <p><span>Email:</span> plantabc123@gmail.com</p>
                                <p><span>Open hours:</span> Mon - Fri: 9 AM to 6 PM</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area End ##### -->

    <!-- ##### All Javascript Files ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="static/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="static/js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="static/js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="static/js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="static/js/active.js"></script>
</body>

</html>