<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Alazea - Gardening &amp; Landscaping HTML Template</title>

    <!-- Favicon -->
    <link rel="icon" href="static/img/core-img/favicon.ico">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="static/css/style.css">

    <style>
        .cook img{
            width: 100%; /* 이미지가 셀 내에 꽉 차게 표시되도록 설정 */
            height: 400px;
            overflow:hidden;
        }
        .temp {
            width:100%;
        }
        .temp th, td{
            width:16.6%;
        }
        .date {
            width:100%;
        }
        .date td{
            height:50px;
            font-size:16px;

        }
        .ex-img {
            border: none;
            width:800px;
            height: 300px;
        }
        .ex-img td{
            padding: 0px
            width: 33.33%;
        }
        .ex-img img{
            width:100%
        }
        .check_btn {
          color: #198754;
          border-color: #198754;
          font-size:18px;
          text-decoration:none;
          border-radius: 5px;
          padding: 10px 20px;
          cursor: pointer;
        }
        .check_btn:hover{
          color: #fff;
          border-color: #198754;
          background-color: #198754;
        }

    </style>
    <script>
      function previewImage(event) {
        var input = event.target;
        var preview = document.getElementById('preview');

        var reader = new FileReader();

        reader.onload = function () {
          preview.src = reader.result;
        };

        reader.readAsDataURL(input.files[0]);
      }
    </script>
</head>

<body>
    <!-- Preloader -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-circle"></div>
        <div class="preloader-img">
            <img src="static/img/core-img/leaf.png" alt="">
        </div>
    </div>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area">

        <!-- ***** Top Header Area ***** -->
        <div class="top-header-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="top-header-content d-flex align-items-center justify-content-between">
                            <!-- Top Header Content -->
                            <div class="top-header-meta">
                                <a href="#" data-toggle="tooltip" data-placement="bottom" title="infodeercreative@gmail.com"><i class="fa fa-envelope-o" aria-hidden="true"></i> <span>Email: plantabc123@gmail.com</span></a>
                                <a href="#" data-toggle="tooltip" data-placement="bottom" title="+1 234 122 122"><i class="fa fa-phone" aria-hidden="true"></i> <span>Call: 02-1234-5678</span></a>
                            </div>

                            <!-- Top Header Content -->
                            <div class="top-header-meta d-flex">
                                {% if request.session.sessionid != None %}
                                <!-- Mypage -->
                                <div class="login">
                                    <a href="{% url 'mypage' %}?id={{request.session.sessionid}}"><i class="fa fa-user-circle-o" aria-hidden="true"></i><span>Mypage</span></a>
                                </div>
                                <!-- Logout -->
                                <div class="cart">
                                    <a href="{% url 'logout' %}"><i class="fa fa-outdent" aria-hidden="true"></i><span>Logout</span></a>
                                </div>
                                {% else %}
                                <!-- Login -->
                                <div class="login">
                                    <a href="{% url 'login' %}"><i class="fa fa-user-circle-o" aria-hidden="true"></i><span>Login</span></a>
                                </div>
                                <!-- Sign up -->
                                <div class="cart">
                                    <a href="{% url 'register' %}"><i class="fa fa-user-o" aria-hidden="true"></i><span>Sign up</span></a>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- ***** Navbar Area ***** -->
        <div class="alazea-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="alazeaNav">

                        <!-- Nav Brand -->
                        <a href="/" class="nav-brand"><img src="/static/img/core-img/logo.png" alt=""></a>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- Close Button -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Navbar Start -->
                            <div class="classynav">
                                <ul>
                                    <li><a href="/">Home</a></li>
                                    <li><a href="{% url 'about' %}">About</a></li>
                                    <li><a href="{% url 'category' %}">Category</a>
                                        <ul class="dropdown">
                                            <li><a href="{% url 'cabbage' %}">양배추</a>
                                                <ul class="dropdown">
                                                    <li><a href="{% url 'cabbage' %}#efficacy">효능</a></li>
                                                    <li><a href="{% url 'cabbage' %}#cultivation">재배 방법</a></li>
                                                    <li><a href="{% url 'cabbage' %}#diagnosis">질병 진단</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="{% url 'tomato' %}">토마토</a>
                                                <ul class="dropdown">
                                                    <li><a href="{% url 'tomato' %}#efficacy">효능</a></li>
                                                    <li><a href="{% url 'tomato' %}#cultivation">재배 방법</a></li>
                                                    <li><a href="{% url 'tomato' %}#diagnosis">질병 진단</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="{% url 'cucumber' %}">오이</a>
                                                <ul class="dropdown">
                                                    <li><a href="{% url 'cucumber' %}#efficacy">효능</a></li>
                                                    <li><a href="{% url 'cucumber' %}#cultivation">재배 방법</a></li>
                                                    <li><a href="{% url 'cucumber' %}#diagnosis">질병 진단</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="{% url 'pumpkin' %}">호박</a>
                                                <ul class="dropdown">
                                                    <li><a href="{% url 'pumpkin' %}#efficacy">효능</a></li>
                                                    <li><a href="{% url 'pumpkin' %}#cultivation">재배 방법</a></li>
                                                    <li><a href="{% url 'pumpkin' %}#diagnosis">질병 진단</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="{% url 'youngpumpkin' %}">애호박</a>
                                                <ul class="dropdown">
                                                    <li><a href="{% url 'youngpumpkin' %}#efficacy">효능</a></li>
                                                    <li><a href="{% url 'youngpumpkin' %}#cultivation">재배 방법</a></li>
                                                    <li><a href="{% url 'youngpumpkin' %}#diagnosis">질병 진단</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="{% url 'kimchi' %}">배추</a>
                                                <ul class="dropdown">
                                                    <li><a href="{% url 'kimchi' %}#efficacy">효능</a></li>
                                                    <li><a href="{% url 'kimchi' %}#cultivation">재배 방법</a></li>
                                                    <li><a href="{% url 'kimchi' %}#diagnosis">질병 진단</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="{% url 'pepper' %}">고추</a>
                                                <ul class="dropdown">
                                                    <li><a href="{% url 'pepper' %}#efficacy">효능</a></li>
                                                    <li><a href="{% url 'kimchi' %}#cultivation">재배 방법</a></li>
                                                    <li><a href="{% url 'pepper' %}#diagnosis">질병 진단</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="{% url 'radish' %}">무</a>
                                                <ul class="dropdown">
                                                    <li><a href="{% url 'radish' %}#efficacy">효능</a></li>
                                                    <li><a href="{% url 'radish' %}#cultivation">재배 방법</a></li>
                                                    <li><a href="{% url 'radish' %}#diagnosis">질병 진단</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="{% url 'greenonion' %}">파</a>
                                                <ul class="dropdown">
                                                    <li><a href="{% url 'greenonion' %}#efficacy">효능</a></li>
                                                    <li><a href="{% url 'greenonion' %}#cultivation">재배 방법</a></li>
                                                    <li><a href="{% url 'greenonion' %}#diagnosis">질병 진단</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="{% url 'bean' %}">콩</a>
                                                <ul class="dropdown">
                                                    <li><a href="{% url 'bean' %}#efficacy">효능</a></li>
                                                    <li><a href="{% url 'bean' %}#cultivation">재배 방법</a></li>
                                                    <li><a href="{% url 'bean' %}#diagnosis">질병 진단</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a href="{% url 'contact' %}">Contact</a></li>
                                    {% if request.session.sessionid != None %}
                                    <li><a href="{% url 'mypage' %}?id={{request.session.sessionid}}">Mypage</a></li>
                                    {% else %}
                                    <li><a href="{% url 'login' %}">Login</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                            <!-- Navbar End -->
                        </div>
                    </nav>

                    <!-- Search Form -->
                    <div class="search-form">
                        <form action="#" method="get">
                            <input type="search" name="search" id="search" placeholder="Type keywords &amp; press enter...">
                            <button type="submit" class="d-none"></button>
                        </form>
                        <!-- Close Icon -->
                        <div class="closeIcon"><i class="fa fa-times" aria-hidden="true"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Breadcrumb Area Start ##### -->
    <div class="breadcrumb-area">
        <!-- Top Breadcrumb Area -->
        <div class="top-breadcrumb-area bg-img bg-overlay d-flex align-items-center justify-content-center" style="background-image: url(static/img/cate-img/youngpumpkin/youngpumpkin_main.jpg);">
            <h2>Young Pumpkin</h2>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/"><i class="fa fa-home"></i> Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Young Pumpkin</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Breadcrumb Area End ##### -->

    <!-- ##### 애호박 활용 / 효능 start ##### -->
    <section id="efficacy" class="about-us-area">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-12">
                    <!-- Section Heading -->
                    <div class="section-heading">
                        <h2>애호박</h2>
                        <p>Young Pumpkin</p>
                        <p>덜 자란 어린 호박으로, 예로부터 우리 식단에 많이 올라 친숙한 채소이다. 소화흡수가 잘 되고, 치매예방과 두뇌개발의 효능이 있다. 찌개류와 전, 볶음, 무침, 죽 등 쓰임새가 다양하다.</p>
                    </div>

                    <!-- cucumber Efficacy -->
                    <h4>효능</h4>
                    <div class="alazea-benefits-area">
                        <div class="row">
                            <!-- Single Benefits Area -->
                            <div class="col-12 col-sm-3">
                                <div class="single-benefits-area">
                                    <img src="static/img/cate-img/bean/mental-health.png" alt="">
                                    <h5>빈혈 증상 개선</h5>
                                    <p>애호박의 엽산과 철분은 적혈구의 생성을 촉진하여 몸속에 산소를 공급해 빈혈증상을 개선하고 특히 임산부와 태아에 좋은 영향을 준다.</p>
                                </div>
                            </div>

                            <!-- Single Benefits Area -->
                            <div class="col-12 col-sm-3">
                                <div class="single-benefits-area">
                                    <img src="static/img/cate-img/cabbage/stomach.png" alt="">
                                    <h5>위 건강</h5>
                                    <p>애호박의 비타민A와 C는 위 점액분비와 위 표면을 보호하고 소화 흡수를 돕는다.</p>
                                </div>
                            </div>

                            <!-- Single Benefits Area -->
                            <div class="col-12 col-sm-3">
                                <div class="single-benefits-area">
                                    <img src="static/img/cate-img/pepper/eye.png" alt="">
                                    <h5>시력 개선</h5>
                                    <p>비타민A는 망막의 기능을 강화시키고 시력향상에 도움을 주어 야맹증, 안구건조증 등 각종 안구질환 예방에 효과적이다.</p>
                                </div>
                            </div>

                            <!-- Single Benefits Area -->
                            <div class="col-12 col-sm-3">
                                <div class="single-benefits-area">
                                    <img src="static/img/core-img/b3.png" alt="">
                                    <h5>면역력 강화</h5>
                                    <p>비타민A가 풍부해 바이러스의 활동을 억제 및 사멸시키는데 도움이 되고 비타민B1은 면역계와 신경계를 강화하고 에너지 대사를 원활히한다.</p>
                                </div>
                            </div>

                            <!-- Single Benefits Area -->
                            <div class="col-12 col-sm-3">
                                <div class="single-benefits-area">
                                    <img src="static/img/cate-img/cabbage/brain1.png" alt="">
                                    <h5>치매 예방</h5>
                                    <p>애호박에 함유된 레시틴 성분은 치매 예방 및 두뇌발달에 도움이 되어 성장기 어린이나 노인분들이 섭취하면 좋다.</p>
                                </div>
                            </div>
                            <!-- Single Benefits Area -->
                            <div class="col-12 col-sm-3">
                                <div class="single-benefits-area">
                                    <img src="static/img/cate-img/cabbage/blood-drop.png" alt="">
                                    <h5>심혈관질환 예방</h5>
                                    <p>애호박은 100g당 285mg의 칼륨성분이 함유되어 있어 고혈압, 심근경색과 같은 심혈관계질환 예방에 효과적이다.</p>
                                </div>
                            </div>

                            <!-- Single Benefits Area -->
                            <div class="col-12 col-sm-3">
                                <div class="single-benefits-area">
                                    <img src="static/img/cate-img/cabbage/skin.png" alt="">
                                    <h5>피부 건강</h5>
                                    <p>애호박에 함유된 각종 비타민은 기미, 여드름과 같은 피부질환 개선에 도움이 된다.</p>
                                </div>
                            </div>

                            <!-- Single Benefits Area -->
                            <div class="col-12 col-sm-3">
                                <div class="single-benefits-area">
                                    <img src="static/img/cate-img/cabbage/weight-loss.png" alt="">
                                    <h5>다이어트</h5>
                                    <p>애호박은 100g 당 38kcal로 매우 낮은 칼로리를 가지고 있고 식이섬유 또한 풍부하여 포만감이 높아 다이어트에 좋다.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- cucumber Cook -->
                    <br>
                    <h4>활용</h4>
                    <div class="cook">
                        <div class="row">
                            <div class="col-12 col-sm-4">
                                <p><b>된장찌개</b></p>
                                <img src="static/img/cate-img/youngpumpkin/youngpumpkin_cook1.jpg">
                            </div>
                            <div class="col-12 col-sm-4">
                                <p><b>잔치국수</b></p>
                                <img src="static/img/cate-img/youngpumpkin/youngpumpkin_cook2.jpg">
                            </div>
                            <div class="col-12 col-sm-4">
                                <p><b>애호박전</b></p>
                                <img src="static/img/cate-img/youngpumpkin/youngpumpkin_cook3.jpg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="border-line"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### 애호박 활용 / 효능 End ##### -->

    <!-- ##### 애호박 재배방법 Start ##### -->
    <section id="cultivation" class="our-services-area bg-gray section-padding-100-0">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-5">
                    <!-- Section Heading -->
                    <div class="section-heading text-left">
                        <h2>재배 방법</h2>
                    </div>
                </div>
            </div>

            <div class="row align-items-center justify-content-between">
                <div class="col-12 col-lg-5">
                    <div class="alazea-service-area mb-100">
                        <!-- 재배 환경 -->
                        <div class="cutivaion-env">
                            <br>
                            <h4>환경</h4>
                            <br>
                            <h6><b>생육 온도</b></h6>
                            <p>애호박은 생육적온이 20~25°C로 고온에 비교적 약하고 늦서리를 맞으면 고사하기 때문에 노지의 호박재배는 늦서리 피해가 발생하지 않도록 지역별 기후를 고려해 시기를 결정해야한다.</p>
                            <br>
                            <h6><b>재배 적지</b></h6>
                            <p>토양산도가 pH 5.5~6.5인 토양이 적합하며 통기성과 보수성이 좋아야한다.</p>
                        </div>
                        <!-- 재배 관리 -->
                        <div class="cultivation-manage">
                            <br>
                            <h4>관리</h4>
                            <!-- 거름 주기 -->
                            <div class="single-service-area d-flex align-items-center">
                                <!-- Icon -->
                                <div class="service-icon mr-30">
                                    <img src="static/img/core-img/s1.png" alt="">
                                </div>
                                <!-- Content -->
                                <div class="service-content">
                                    <h5>거름주기</h5>
                                    <p>정식 후 2주가 지나면 1차 웃거름을 주고 2차 웃거름은 첫 암꽃이 지고 열매가 착과된 시점에 주며 2주 후 3차 웃거름을 준다.</p>
                                </div>
                            </div>
                            <!-- 물 주기 -->
                            <div class="single-service-area d-flex align-items-center">
                                <!-- Icon -->
                                <div class="service-icon mr-30">
                                    <img src="static/img/core-img/s2.png" alt="">
                                </div>
                                <!-- Content -->
                                <div class="service-content">
                                    <h5>물주기</h5>
                                    <p>애호박은 일관된 수분 공급이 필요하다. 토양이 마르지 않도록 꾸준히 관수하며, 토양 주변에 마른 잔디나 헤이 등을 깔아 토양의 수분을 유지시켜준다.</p>
                                </div>
                            </div>

                            <!-- 수확시기 -->
                            <div class="single-service-area d-flex align-items-center">
                                <!-- Icon -->
                                <div class="service-icon mr-30">
                                    <img src="static/img/core-img/s3.png" alt="">
                                </div>
                                <!-- Content -->
                                <div class="service-content">
                                    <h5>수확시기</h5>
                                    <p>애호박이 크기가 충분히 커지고 표면이 단단해지면 수확할 준비가 된 것이며 열매를 잘라내는 것보다 줄기를 따서 수확하는 것이 더 좋다.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-6">
                    <div class="alazea-service-area mb-100">
                        <!-- 재배 특성 -->
                        <div class="cultivation-char">
                            <h4>특성</h4>
                            <p>애호박은 고온다습한 환경을 선호하고 수정을 위해 벌이 잘 찾아오는 환경을 조성하는 것이 좋다. 또한 연작 재배에 취약하고 지나친 습기는 뿌리 썩음을 일으킬 수 있다.</p>
                        </div>
                        <!-- 재배 작형 -->
                        <br>
                        <div class="cultivation-date">
                            <h4>시기</h4>
                            <p>애호박은 주로 일년생으로 재배되는 덩굴성 식물이며 지역과 작형에 따라 파종및 정식 시기를 결정한다.</p>
                            <table class="date">
                                <thead>
                                    <tr>
                                        <th>작형</th><th>파종기</th><th>정식기</th><th>수확기</th><th>지역</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><b>노지재배</b></td><td>2월말~4월중순</td><td>3월말~5월중순</td><td>5월중순~7월말</td><td>전국</td>
                                    </tr>
                                    <tr>
                                        <td><b>여름재배</b></td><td>4~5월중순</td><td>6월</td><td>7~8월</td><td>전국</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- 비디오 -->
                        <br>
                        <div class="alazea-video-area bg-overlay mb-100">
                            <img src="static/img/cate-img/youngpumpkin/youngpumpkin_video.jpg" alt="">
                            <a href="https://www.youtube.com/watch?v=oLrG6e_E4g8" class="video-icon">
                                <i class="fa fa-play" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### 애호박 재배방법 End ##### -->

    <!-- ##### 애호박 진단하기 Start ##### -->
    <section id="diagnosis" class="testimonial-area section-padding-100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Section Heading -->
                    <div class="section-heading">
                        <img src="static/img/core-img/b2.png" alt="">
                        <br>
                        <br>
                        <h5>진단할 작물의 사진을 업로드해주세요.</h5>
                        <div class="text-black fs-0.5px">예시:</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row alazea-portfolio">
                <div class="category">
                    <!-- 샘플 사진 -->
                    <div class="col-12 col-sm-6 col-lg-4 single_portfolio_item garden">
                        <!-- Portfolio Thumbnail -->
                        <div class="portfolio-thumbnail bg-img" style="background-image: url(static/ex-img/youngpumpkin_ex1.jpg);"></div>
                        <!-- Portfolio Hover Text -->
                        <div class="portfolio-hover-overlay height-200px">
                            <a href="{% url 'youngpumpkin/analysis' %}?example=ex1" class="d-flex align-items-center justify-content-center" title="Portfolio 2">
                                <div class="port-hover-text">
                                    <h3>샘플 결과 보기</h3>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4 single_portfolio_item garden">
                        <!-- Portfolio Thumbnail -->
                        <div class="portfolio-thumbnail bg-img" style="background-image: url(static/ex-img/youngpumpkin_ex2.jpg);"></div>
                        <!-- Portfolio Hover Text -->
                        <div class="portfolio-hover-overlay">
                            <a href="{% url 'youngpumpkin/analysis' %}?example=ex2" class="d-flex align-items-center justify-content-center" title="Portfolio 2">
                                <div class="port-hover-text">
                                    <h3>샘플 결과 보기</h3>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4 single_portfolio_item garden">
                        <!-- Portfolio Thumbnail -->
                        <div class="portfolio-thumbnail bg-img" style="background-image: url(static/ex-img/youngpumpkin_ex3.jpg);"></div>
                        <!-- Portfolio Hover Text -->
                        <div class="portfolio-hover-overlay">
                            <a href="{% url 'youngpumpkin/analysis' %}?example=ex3" class="d-flex align-items-center justify-content-center" title="Portfolio 2">
                                <div class="port-hover-text">
                                    <h3>샘플 결과 보기</h3>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <br>
                    <form action="youngpumpkin/analysis" method="post" enctype="multipart/form-data">
                      {% csrf_token %}
                      <div class="form-group">
                        <label for="img"></label>
                        <input type="file" class="form-control" id="img" name="img" onchange="previewImage(event)">
                        <br>
                        <img id="preview" src="#" style="max-width: 400px; max-height: 400px;">
                      </div>
                      <button type="submit" class="check_btn">진단하기</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### 애호박 진단하기 End ##### -->

    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area bg-img" style="background-image: url(static/img/bg-img/3.jpg);">
        <!-- Main Footer Area -->
        <div class="main-footer-area">
            <div class="container">
                <div class="row">

                    <!-- Single Footer Widget -->
                    <div class="col-12 col-sm-6 col-lg-6">
                        <div class="single-footer-widget">
                            <div class="widget-title">
                                <h5>QUICK LINK</h5>
                            </div>
                            <nav class="widget-nav">
                                <ul>
                                    <li><a href="/">Home</a></li>
                                    <li><a href="{% url 'about' %}">About</a></li>
                                    <li><a href="{% url 'category' %}">Category</a></li>
                                    <li><a href="{% url 'contact' %}">Contact</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>

                    <!-- Single Footer Widget -->
                    <div class="col-12 col-sm-6 col-lg-6">
                        <div class="single-footer-widget">
                            <div class="widget-title">
                                <h5>CONTACT</h5>
                            </div>

                            <div class="contact-information">
                                <p><span>Address:</span> 서울 금천구 디지털로9길 99 스타밸리 209호</p>
                                <p><span>Phone:</span> 02-1234-5678</p>
                                <p><span>Email:</span> plantabc123@gmail.com</p>
                                <p><span>Open hours:</span> Mon - Fri: 9 AM to 6 PM</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area End ##### -->

    <!-- ##### All Javascript Files ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="static/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="static/js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="static/js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="static/js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="static/js/active.js"></script>
</body>

</html>