<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Alazea - Gardening &amp; Landscaping HTML Template</title>

    <!-- Favicon -->
    <link rel="icon" href="/static/img/core-img/favicon.ico">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="/static/css/style.css">
    <script>
        function goBack() {
          window.history.back();
        }
    </script>
    <style>
        .backButton {
      bottom: 10px; /* 하단 여백 */
      right: 10px; /* 우측 여백 */
      padding: 10px;
      background-color: #2F9D27; /* 버튼 배경색 */
      color: #fff; /* 텍스트 색상 */
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
    </style>
</head>

<body>
    <!-- Preloader -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-circle"></div>
        <div class="preloader-img">
            <img src="/static/img/core-img/leaf.png" alt="">
        </div>
    </div>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area">

        <!-- ***** Top Header Area ***** -->
        <div class="top-header-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="top-header-content d-flex align-items-center justify-content-between">
                            <!-- Top Header Content -->
                            <div class="top-header-meta">
                                <a href="#" data-toggle="tooltip" data-placement="bottom" title="infodeercreative@gmail.com"><i class="fa fa-envelope-o" aria-hidden="true"></i> <span>Email: plantabc123@gmail.com</span></a>
                                <a href="#" data-toggle="tooltip" data-placement="bottom" title="+1 234 122 122"><i class="fa fa-phone" aria-hidden="true"></i> <span>Call: 02-1234-5678</span></a>
                            </div>

                            <!-- Top Header Content -->
                            <div class="top-header-meta d-flex">
                                {% if request.session.sessionid != None %}
                                <!-- Mypage -->
                                <div class="login">
                                    <a href="{% url 'mypage' %}?id={{request.session.sessionid}}"><i class="fa fa-user-circle-o" aria-hidden="true"></i><span>Mypage</span></a>
                                </div>
                                <!-- Logout -->
                                <div class="cart">
                                    <a href="{% url 'logout' %}"><i class="fa fa-outdent" aria-hidden="true"></i><span>Logout</span></a>
                                </div>
                                {% else %}
                                <!-- Login -->
                                <div class="login">
                                    <a href="{% url 'login' %}"><i class="fa fa-user-circle-o" aria-hidden="true"></i><span>Login</span></a>
                                </div>
                                <!-- Sign up -->
                                <div class="cart">
                                    <a href="{% url 'register' %}"><i class="fa fa-user-o" aria-hidden="true"></i><span>Sign up</span></a>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- ***** Navbar Area ***** -->
        <div class="alazea-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="alazeaNav">

                        <!-- Nav Brand -->
                        <a href="/" class="nav-brand"><img src="/static/img/core-img/logo.png" alt=""></a>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- Close Button -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Navbar Start -->
                            <div class="classynav">
                                <ul>
                                    <li><a href="/">Home</a></li>
                                    <li><a href="{% url 'about' %}">About</a></li>
                                    <li><a href="{% url 'category' %}">Category</a>
                                        <ul class="dropdown">
                                            <li><a href="{% url 'cabbage' %}">양배추</a>
                                                <ul class="dropdown">
                                                    <li><a href="{% url 'cabbage' %}#efficacy">효능</a></li>
                                                    <li><a href="{% url 'cabbage' %}#cultivation">재배 방법</a></li>
                                                    <li><a href="{% url 'cabbage' %}#diagnosis">질병 진단</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="{% url 'tomato' %}">토마토</a>
                                                <ul class="dropdown">
                                                    <li><a href="{% url 'tomato' %}#efficacy">효능</a></li>
                                                    <li><a href="{% url 'tomato' %}#cultivation">재배 방법</a></li>
                                                    <li><a href="{% url 'tomato' %}#diagnosis">질병 진단</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="{% url 'cucumber' %}">오이</a>
                                                <ul class="dropdown">
                                                    <li><a href="{% url 'cucumber' %}#efficacy">효능</a></li>
                                                    <li><a href="{% url 'cucumber' %}#cultivation">재배 방법</a></li>
                                                    <li><a href="{% url 'cucumber' %}#diagnosis">질병 진단</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="{% url 'pumpkin' %}">호박</a>
                                                <ul class="dropdown">
                                                    <li><a href="{% url 'pumpkin' %}#efficacy">효능</a></li>
                                                    <li><a href="{% url 'pumpkin' %}#cultivation">재배 방법</a></li>
                                                    <li><a href="{% url 'pumpkin' %}#diagnosis">질병 진단</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="{% url 'youngpumpkin' %}">애호박</a>
                                                <ul class="dropdown">
                                                    <li><a href="{% url 'youngpumpkin' %}#efficacy">효능</a></li>
                                                    <li><a href="{% url 'youngpumpkin' %}#cultivation">재배 방법</a></li>
                                                    <li><a href="{% url 'youngpumpkin' %}#diagnosis">질병 진단</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="{% url 'kimchi' %}">배추</a>
                                                <ul class="dropdown">
                                                    <li><a href="{% url 'kimchi' %}#efficacy">효능</a></li>
                                                    <li><a href="{% url 'kimchi' %}#cultivation">재배 방법</a></li>
                                                    <li><a href="{% url 'kimchi' %}#diagnosis">질병 진단</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="{% url 'pepper' %}">고추</a>
                                                <ul class="dropdown">
                                                    <li><a href="{% url 'pepper' %}#efficacy">효능</a></li>
                                                    <li><a href="{% url 'kimchi' %}#cultivation">재배 방법</a></li>
                                                    <li><a href="{% url 'pepper' %}#diagnosis">질병 진단</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="{% url 'radish' %}">무</a>
                                                <ul class="dropdown">
                                                    <li><a href="{% url 'radish' %}#efficacy">효능</a></li>
                                                    <li><a href="{% url 'radish' %}#cultivation">재배 방법</a></li>
                                                    <li><a href="{% url 'radish' %}#diagnosis">질병 진단</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="{% url 'greenonion' %}">파</a>
                                                <ul class="dropdown">
                                                    <li><a href="{% url 'greenonion' %}#efficacy">효능</a></li>
                                                    <li><a href="{% url 'greenonion' %}#cultivation">재배 방법</a></li>
                                                    <li><a href="{% url 'greenonion' %}#diagnosis">질병 진단</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="{% url 'bean' %}">콩</a>
                                                <ul class="dropdown">
                                                    <li><a href="{% url 'bean' %}#efficacy">효능</a></li>
                                                    <li><a href="{% url 'bean' %}#cultivation">재배 방법</a></li>
                                                    <li><a href="{% url 'bean' %}#diagnosis">질병 진단</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a href="{% url 'contact' %}">Contact</a></li>
                                    {% if request.session.sessionid != None %}
                                    <li><a href="{% url 'mypage' %}?id={{request.session.sessionid}}">Mypage</a></li>
                                    {% else %}
                                    <li><a href="{% url 'login' %}">Login</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                            <!-- Navbar End -->
                        </div>
                    </nav>

                    <!-- Search Form -->
                    <div class="search-form">
                        <form action="#" method="get">
                            <input type="search" name="search" id="search" placeholder="Type keywords &amp; press enter...">
                            <button type="submit" class="d-none"></button>
                        </form>
                        <!-- Close Icon -->
                        <div class="closeIcon"><i class="fa fa-times" aria-hidden="true"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Breadcrumb Area Start ##### -->
    <div class="breadcrumb-area">
        <!-- Top Breadcrumb Area -->
        <div class="top-breadcrumb-area bg-img bg-overlay d-flex align-items-center justify-content-center" style="background-image: url(/static/img/cate-img/greenonion/greenonion_main.jpg);">
            <h2>RESULT</h2>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/"><i class="fa fa-home"></i> Home</a></li>
                            <li class="breadcrumb-item"><a href="{% url 'greenonion' %}">Greenonion</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Result</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Breadcrumb Area End ##### -->

    <!-- ##### About Area Start ##### -->
    <section class="about-us-area">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-12 col-lg-5">
                    <!-- Section Heading -->
                    <div class="section-heading">
                        <h2>Result</h2>
                        <p></p>
                    </div>
                    <!-- 이미지 -->
                    <div class="alazea-progress-bar mb-50">
                        {% if filepath == settings.STATICFILES_DIRS.3 %}
                            <img src="{% static 'ex-img/' %}{{ imgname }}" alt="greenonion Image" style="max-width: 400px; max-height: 400px;">
                        {% elif filepath == settings.STATICFILES_DIRS.2 %}
                            <img src="{% static 'data/' %}{{ imgname }}" alt="greenonion Image" style="max-width: 400px; max-height: 400px;">
                        {% endif %}
                    </div>
                </div>

                <div class="col-12 col-lg-6">
                    {% if good >= 80%}
                    <div class="section-heading text-left">
                        <h2>정상입니다!</h2>
                        <p>회원님의 작물이 건강하게 자라고 있습니다. 지금처럼 잘 관리해주세요.</p>
                    </div>
                    {% elif good >= 50 %}
                        {% if bad1 > bad2 and bad1 > bad3 %}
                        <div class="section-heading text-left">
                            <h2>정상-파검은무늬병 가능</h2>
                            <p>정상처럼 보이나 {{bad1}}%의 확률로 파검은무늬병이 생길 가능성이 있으니 관리에 유의하세요.</p>
                        </div>
                        {% elif bad2  > bad1 and bad2 > bad3 %}
                        <div class="section-heading text-left">
                            <h2>정상-파노균병 가능</h2>
                            <p>정상처럼 보이나 {{bad2}}%의 확률로 파노균병이 생길 가능성이 있으니 관리에 유의하세요.</p>
                        </div>
                        {% else %}
                        <div class="section-heading text-left">
                            <h2>정상-파녹병 가능</h2>
                            <p>정상처럼 보이나 {{bad3}}%의 확률로 파녹병이 생길 가능성이 있으니 관리에 유의하세요.</p>
                        </div>
                        {% endif %}
                    {% else %}
                        {% if bad1 > bad2 and bad1 > bad3 %}
                        <div class="section-heading text-left">
                            <h2>파검은무늬병</h2>
                            <p>{{bad1}}%의 확률로 파검은무늬병이 의심되오니 아래의 조치를 취해주세요.</p>
                        </div>
                        {% elif bad2 > bad1 and bad2 > bad3 %}
                        <div class="section-heading text-left">
                            <h2>파노균병</h2>
                            <p>{{bad2}}%의 확률로 파노균병이 의심되오니 아래의 조치를 취해주세요.</p>
                        </div>
                        {% else %}
                        <div class="section-heading text-left">
                            <h2>파녹병</h2>
                            <p>{{bad3}}%의 확률로 파녹병이 의심되오니 아래의 조치를 취해주세요.</p>
                        </div>
                        {% endif %}
                    {% endif %}
                    <div class="alazea-progress-bar mb-50">
                        <br>
                        <!-- 정상 확률 그래프 -->
                        <div class="single_progress_bar">
                            <p>정상</p>
                            <br>
                            <div id="bar1" class="barfiller">
                                <div class="tipWrap">
                                    <span class="tip"></span>
                                </div>
                                <span class="fill" data-percentage="{{good}}"></span>
                            </div>
                        </div>
                        <br>
                        <!-- 질병1 확률 그래프 -->
                        <div class="single_progress_bar">
                            <p>파검은무늬병</p>
                            <br>
                            <div id="bar2" class="barfiller">
                                <div class="tipWrap">
                                    <span class="tip"></span>
                                </div>
                                <span class="fill" data-percentage="{{bad1}}"></span>
                            </div>
                        </div>
                        <br>
                        <!-- 질병2 확률 그래프 -->
                        <div class="single_progress_bar">
                            <p>파노균병</p>
                            <br>
                            <div id="bar3" class="barfiller">
                                <div class="tipWrap">
                                    <span class="tip"></span>
                                </div>
                                <span class="fill" data-percentage="{{bad2}}"></span>
                            </div>
                        </div>
                        <br>
                        <!-- 질병3 확률 그래프 -->
                        <div class="single_progress_bar">
                            <p>파녹병</p>
                            <br>
                            <div id="bar4" class="barfiller">
                                <div class="tipWrap">
                                    <span class="tip"></span>
                                </div>
                                <span class="fill" data-percentage="{{bad3}}"></span>
                            </div>
                        </div>
                    </div>
                    {% if good >= 80 %}
                        <button class="backButton" onclick="goBack()">뒤로가기</button>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="border-line"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### About Area End ##### -->
    <!-- ##### 해결방안 Start ##### -->
    <section class="our-services-area bg-gray section-padding-100-0">
        {% if good < 80 and bad1 > bad2 and bad1 > bad3 %}
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-7">
                    <!-- Section Heading -->
                    <div class="section-heading text-left">
                        <h2>파검은무늬병</h2>
                    </div>
                </div>
            </div>

            <div class="row align-items-center justify-content-between">
                <div class="col-12 col-lg-7">
                    <div class="alazea-service-area mb-100">
                        <!-- 병징 -->
                        <div class="cutivaion-env">
                            <h4>병징</h4>
                            <p>ㅇ 잎과 꽃대에 발생한다. 처음에는 타원형 또는 방추형 담갈색 병반으로 나타나고, 진전되면 여러 겹무늬 대형병반으로 확대된다.</p>
                            <p>ㅇ 때에 따라 자색의 겹무늬로 나타나기도 하고 병반 중앙에는 검은 포자층이 밀생하여 검게 보이며 심하면 잎 전체가 말라죽는다.</p>
                        </div>
                        <!-- 발생시기 -->
                        <div class="cultivation-char">
                            <br>
                            <h4>발생환경</h4>
                            <p>ㅇ 병든 식물체의 잔재에서 균사나 분생포자의 형태로 겨울을 지나 1차 전염원이 된다.</p>
                            <p>ㅇ 우리나라에서는 매우 널리 분포되어 있는 병으로 5월부터 11월까지 발생하나 특히 7～8월 경 비가 자주 올 때 심하게 발생한다.</p>
                            <p>ㅇ 비료분이 부족하여 후기 생육이 불량할 때 많이 발생한다.</p>
                        </div>
                        <!-- 방제 -->
                        <div class="cutivaion-env">
                            <br>
                            <h4>방제</h4>
                            <p>1. 약재: 디페노코나졸 수화제, 아족시스트로빈 액상수화제</p>
                            <p>2. 건전종자를 파종한다.</p>
                            <p>3. 병에 잘 걸리지 않는 품종을 선택하여 재배한다.</p>
                            <p>4. 작물의 생육중에 비료가 부족하지 않도록 주의하고, 균형시비를 한다.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-5">
                    <div class="alazea-video-area bg-overlay mb-100">
                        <img src="/static/img/cate-img/greenonion/greenonion_ex2video.jpg" alt="">
                        <a href="https://www.youtube.com/watch?v=yPyh1Vp0br0" class="video-icon">
                            <i class="fa fa-play" aria-hidden="true"></i>
                        </a>
                    </div>
                    <button class="backButton" onclick="goBack()">뒤로가기</button>
                    <br>
                </div>
            </div>
        </div>
        {% elif good < 80 and bad1 < bad2 and bad2 > bad3 %}
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Section Heading -->
                    <div class="section-heading text-left">
                        <h2>파노균병</h2>
                    </div>
                </div>
            </div>

            <div class="row align-items-center justify-content-between">
                <div class="col-12 col-lg-7">
                    <div class="alazea-service-area mb-100">
                        <!-- 병징 -->
                        <div class="cutivaion-env">
                            <h4>병징</h4>
                            <p>ㅇ 주로 잎에 발생하며 이른 아침에 병 증상을 관찰하기가 용이하다.</p>
                            <p>ㅇ 희미한 회색 혹은 보라색의 줄무늬 병반 위에 보드라운 털 같은 병원균의 균사체가 관찰된다.</p>
                            <p>ㅇ 병 증상은 작은 반점으로 시작되어 잎 전체로 퍼지는데 병든 잎은 심하게 구부러지며 뒤틀린다.</p>
                            <p>ㅇ 잎은 초기에 녹색이 퇴색되고 진전되면 누렇게 변해 말라 죽는다. 궂은 날이 계속되면 포장 전체로 번지기도 하나 맑은 날씨가 지속되면 새 잎이 돋아 나오며 회복된다.</p>
                        </div>
                        <!-- 발생시기 -->
                        <div class="cultivation-char">
                            <br>
                            <h4>발생환경</h4>
                            <p>ㅇ 상대습도가 96%이상 일 때 병원균은 유주자낭을 형성하며, 상대습도가 100%일 때 유주자낭은 발아하여 침입한다.</p>
                            <p>ㅇ 병원균은 기주 식물체 표면에 물기가 2시간 이상 유지될 때 기공을 통해서 침입하는데, 침입 가능 온도 범위는 4～25℃이다.</p>
                            <p>ㅇ 감염후 10～17일이 지난 후에 외부 병징이 나타난다.</p>
                        </div>
                        <!-- 방제 -->
                        <div class="cutivaion-env">
                            <br>
                            <h4>방제</h4>
                            <p>1. 약재: 디메토모르프 수화제, 만코제브 수화제 등</p>
                            <p>2. 병든 잎과 포기는 조기에 제거하여 불에 태우거나 땅속 깊이 묻는다.</p>
                            <p>3. 포장을 청결히 하고 잎에 물방울이 장시간 맺혀 있지 않도록 관리한다.</p>
                            <p>4. 환기를 철저히 하고 토양이 과습하지 않도록 한다.</p>
                            <p>5. 작물이 재배되지 않은 건전한 토양에서 육묘한다.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-5">
                    <div class="alazea-video-area bg-overlay mb-100">
                        <img src="/static/img/cate-img/greenonion/greenonion_ex3video.jpg" alt="">
                        <a href="https://www.youtube.com/watch?v=2kFw_KBIe4A" class="video-icon">
                            <i class="fa fa-play" aria-hidden="true"></i>
                        </a>
                    </div>
                    <button class="backButton" onclick="goBack()">뒤로가기</button>
                    <br>
                </div>
            </div>
        </div>
        {% elif good < 80 and bad3 > bad2 and bad3 > bad1 %}
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Section Heading -->
                    <div class="section-heading text-left">
                        <h2>파녹병</h2>
                    </div>
                </div>
            </div>

            <div class="row align-items-center justify-content-between">
                <div class="col-12 col-lg-7">
                    <div class="alazea-service-area mb-100">
                        <!-- 병징 -->
                        <div class="cutivaion-env">
                            <h4>병징</h4>
                            <p>ㅇ 잎에 처음에는 융기된 아주 작은 등황색 병반으로 나타나고, 진전되면 병반 주위가 회갈색으로 변한다.</p>
                            <p>ㅇ 시간이 지나면 융기된 병반부가 파열되어 흑갈색으로 변한다. </p>
                            <p>ㅇ 심한 포장은 병든 잎이 황백색으로 변해 말라 죽는다.</p>
                        </div>
                        <!-- 발생시기 -->
                        <div class="cultivation-char">
                            <br>
                            <h4>발생환경</h4>
                            <p>ㅇ 봄과 가을에 저온이 계속되고 비가 많으면 발생이 많다.</p>
                            <p>ㅇ 해에 따라 발병정도가 매우 다르며 비료분이 부족하여 쇠약해지면 발생이 심해진다.</p>
                        </div>
                        <!-- 방제 -->
                        <div class="cutivaion-env">
                            <br>
                            <h4>방제</h4>
                            <p>1. 약재: 디페노코나졸 유제, 아이소피라잠 유제 등</p>
                            <p>2. 수확 후 병든 잔재물을 깨끗이 제거한다.</p>
                            <p>3. 비료분이 부족하지 않도록 균형시비를 한다.</p>
                            <p>4. 해마다 발병이 심한 포장은 파속 이외의 작물로 돌려짓기한다.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-5">
                    <div class="alazea-video-area bg-overlay mb-100">
                        <img src="/static/img/cate-img/greenonion/greenonion_ex4video.jpg" alt="">
                        <a href="https://www.youtube.com/watch?v=U8V5uK97Ev0" class="video-icon">
                            <i class="fa fa-play" aria-hidden="true"></i>
                        </a>
                    </div>
                    <button class="backButton" onclick="goBack()">뒤로가기</button>
                    <br>
                </div>
            </div>
        </div>
        {% endif %}
    </section>
    <!-- ##### 해결방안 End ##### -->

    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area bg-img" style="background-image: url(static/img/bg-img/3.jpg);">
        <!-- Main Footer Area -->
        <div class="main-footer-area">
            <div class="container">
                <div class="row">

                    <!-- Single Footer Widget -->
                    <div class="col-12 col-sm-6 col-lg-6">
                        <div class="single-footer-widget">
                            <div class="widget-title">
                                <h5>QUICK LINK</h5>
                            </div>
                            <nav class="widget-nav">
                                <ul>
                                    <li><a href="/">Home</a></li>
                                    <li><a href="{% url 'about' %}">About</a></li>
                                    <li><a href="{% url 'category' %}">Category</a></li>
                                    <li><a href="{% url 'contact' %}">Contact</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>

                    <!-- Single Footer Widget -->
                    <div class="col-12 col-sm-6 col-lg-6">
                        <div class="single-footer-widget">
                            <div class="widget-title">
                                <h5>CONTACT</h5>
                            </div>

                            <div class="contact-information">
                                <p><span>Address:</span> 서울 금천구 디지털로9길 99 스타밸리 209호</p>
                                <p><span>Phone:</span> 02-1234-5678</p>
                                <p><span>Email:</span> plantabc123@gmail.com</p>
                                <p><span>Open hours:</span> Mon - Fri: 9 AM to 6 PM</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area End ##### -->

    <!-- ##### All Javascript Files ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="/static/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="/static/js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/static/js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="/static/js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="/static/js/active.js"></script>
</body>

</html>